<!DOCTYPE html>
<html>
<head>
    <title>Gaming Academic Predictor</title>
</head>
<body>

<h2>Gaming Academic Performance Predictor</h2>

<form action="/predict" method="post">

Age: <input type="number" name="age"><br><br>

Gender (0=Male, 1=Female): <input type="number" name="gender"><br><br>

Gaming Hours: <input type="number" name="gaming_hours"><br><br>

Study Hours: <input type="number" name="study_hours"><br><br>

Sleep Hours: <input type="number" name="sleep_hours"><br><br>

Attendance: <input type="number" name="attendance"><br><br>

Gaming Genre (encoded): <input type="number" name="gaming_genre"><br><br>

Social Activity: <input type="number" name="social_activity"><br><br>

Device Usage: <input type="number" name="device_usage"><br><br>

Reaction Time: <input type="number" name="reaction_time_ms"><br><br>

Addiction Score: <input type="number" name="addiction_score"><br><br>

Stress Level: <input type="number" name="stress_level"><br><br>

<button type="submit">Predict</button>

</form>

</body>
</html>
